<h1> <center> How to use ?  </center> <h1>

Run all the cells, then fill the regular season & the playoffs input fields.

<h1> Enter a new player </h1>

<h3> Insert a player name </h3>

In [1]:
name = str(input("Player's name: "))

Player's name: Ray_Allen

<h3> Regular season </h3>

In [2]:
print("\nRegular season: ")
rs_points = int(input("\tPoints: "))
rs_assists = int(input("\tAssists: "))
rs_rebounds = int(input("\tRebounds: "))
rs_steals = int(input("\tSteals: "))
rs_blocks = int(input("\tBlocks: "))
primary_position = int(input("\tPrimary position"))

Regular season:
	Points: 24505
	Assists: 4361
	Rebounds: 5272
	Steals: 1451
	Blocks: 244
	Primary position2

<h3> Playoffs </h3>

In [3]:
print("\nPlayoffs: ")
po_points = int(input("\tPoints: "))
po_assists = int(input("\tAssists: "))
po_rebounds = int(input("\tRebounds: "))
po_steals = int(input("\tSteals: "))
po_blocks = int(input("\tBlocks: "))

Playoffs:
	Points: 2749
	Assists: 449
	Rebounds: 648
	Steals: 164
	Blocks: 41

<h1> New player: </h1>

<h3> Libraries and files </h3>

In [4]:
import pandas as pd
import numpy as np
regular_season = pd.read_csv('Data_regular_season.csv')
playoffs = pd.read_csv('Data_playoffs.csv')
regular_season

,Player,Points,Assists,Rebounds,Steals,Blocks,Primary Position
0,LeBron,34241,9346,9405,2015,957,3
1,MJ,32292,5633,6672,1944,893,2
2,Kareem,38387,5660,17440,1160,3189,5
3,Kobe,33643,6306,7047,1944,640,2
4,Karl_Malone,36928,5248,14968,2085,1145,4
5,Wilt,31419,4643,23924,0,0,5
6,Shaq,28596,3026,13099,739,2732,5
7,Duncan,26496,4225,15091,1025,3020,4
8,Dirk,31560,3651,11489,1210,1281,4
9,Hakeem,26946,3058,13748,2162,3820,5
10,Garnett,26071,5445,14662,1859,2037,4
11,Magic,17707,10141,6559,1724,374,1
12,Stockton,19711,15806,4051,3265,315,1
13,Robertson,26710,9887,7804,77,4,1
14,Steve_Nash,17387,10335,3642,899,102,1
15,Jason_Kidd,17529,12091,8725,2684,450,1
16,Bill Russell,14522,4100,21620,0,0,5
17,Elvin_Hayes,27313,2398,16279,1771,864,5
18,Moses_Malone,27409,1796,16212,1089,1733,4
19,Robert_Parish,23334,2180,14715,1219,2361,5
20,Charles_Barkley,23757,4215,12546,1648,888,4
21,Dwight_Howard,18582,1577,13641,1013,2127,5
22,CP3,18711,9607,4572,2220,131,1
23,Paul_Pierce,26397,4708,7527,1752,745,3
24,Allen_Iverson,24368,5624,3394,1983,164,1
25,Patrick_Ewing,24815,2215,11607,1136,2894,5
26,Dominique_Wikins,26668,2677,7169,1378,642,3
27,Jerry_West,25192,6238,5376,81,23,1
28,Anthony_Davis,12677,1182,5483,730,1264,4
29,Kawhi_Leonard,9793,1403,3352,932,346,3
30,Russell_Westbrook,20315,7267,6186,1530,267,1
31,Steph_Curry,16419,4621,3158,1205,156,1
32,Julius_Erving,30026,5176,10525,2272,1941,3
33,Kevin_Durant,22940,3486,5992,948,941,3
34,Larry_Bird,21791,5695,8974,1556,755,3
35,David_Robinson,20790,2441,10497,1388,2954,5
36,Dwyane_Wade,23165,5701,4933,1620,885,2
37,Artis_Gilmore,24941,3050,16330,648,3178,5
38,John_Havlicek,26395,6114,8007,476,117,3
39,Tony_Parker,19473,7036,3396,1053,98,1
40,Wes_Unseld,10624,3822,13769,628,367,5
41,Kevin_McHale,17335,1670,7122,344,1690,4
42,Rick_Barry,25279,4952,6863,1104,269,3
43,Elgin_Baylor,23149,3650,11463,0,0,3
44,Carmelo_Anthony,26314,3244,7251,1121,550,3
45,Walt_Bellamy,20941,2544,14241,52,48,5
46,Nate_Thurmond,14437,2575,14464,125,553,5

<h3> Function </h3>

<h4> Regular season </h4>

In [5]:
def createRSPlayer():
    element = {'Player':name,'Points':rs_points, 'Assists':rs_assists, 'Rebounds':rs_rebounds, 'Steals':rs_steals, 'Blocks':rs_blocks, 'Primary Position':primary_position}
    return regular_season.append(element,ignore_index=True)

<h4> Test: regular season </h4>

In [6]:
regular_season = createRSPlayer()
regular_season.to_csv('Data_regular_season.csv',index=False)
regular_season

,Player,Points,Assists,Rebounds,Steals,Blocks,Primary Position
0,LeBron,34241,9346,9405,2015,957,3
1,MJ,32292,5633,6672,1944,893,2
2,Kareem,38387,5660,17440,1160,3189,5
3,Kobe,33643,6306,7047,1944,640,2
4,Karl_Malone,36928,5248,14968,2085,1145,4
5,Wilt,31419,4643,23924,0,0,5
6,Shaq,28596,3026,13099,739,2732,5
7,Duncan,26496,4225,15091,1025,3020,4
8,Dirk,31560,3651,11489,1210,1281,4
9,Hakeem,26946,3058,13748,2162,3820,5
10,Garnett,26071,5445,14662,1859,2037,4
11,Magic,17707,10141,6559,1724,374,1
12,Stockton,19711,15806,4051,3265,315,1
13,Robertson,26710,9887,7804,77,4,1
14,Steve_Nash,17387,10335,3642,899,102,1
15,Jason_Kidd,17529,12091,8725,2684,450,1
16,Bill Russell,14522,4100,21620,0,0,5
17,Elvin_Hayes,27313,2398,16279,1771,864,5
18,Moses_Malone,27409,1796,16212,1089,1733,4
19,Robert_Parish,23334,2180,14715,1219,2361,5
20,Charles_Barkley,23757,4215,12546,1648,888,4
21,Dwight_Howard,18582,1577,13641,1013,2127,5
22,CP3,18711,9607,4572,2220,131,1
23,Paul_Pierce,26397,4708,7527,1752,745,3
24,Allen_Iverson,24368,5624,3394,1983,164,1
25,Patrick_Ewing,24815,2215,11607,1136,2894,5
26,Dominique_Wikins,26668,2677,7169,1378,642,3
27,Jerry_West,25192,6238,5376,81,23,1
28,Anthony_Davis,12677,1182,5483,730,1264,4
29,Kawhi_Leonard,9793,1403,3352,932,346,3
30,Russell_Westbrook,20315,7267,6186,1530,267,1
31,Steph_Curry,16419,4621,3158,1205,156,1
32,Julius_Erving,30026,5176,10525,2272,1941,3
33,Kevin_Durant,22940,3486,5992,948,941,3
34,Larry_Bird,21791,5695,8974,1556,755,3
35,David_Robinson,20790,2441,10497,1388,2954,5
36,Dwyane_Wade,23165,5701,4933,1620,885,2
37,Artis_Gilmore,24941,3050,16330,648,3178,5
38,John_Havlicek,26395,6114,8007,476,117,3
39,Tony_Parker,19473,7036,3396,1053,98,1
40,Wes_Unseld,10624,3822,13769,628,367,5
41,Kevin_McHale,17335,1670,7122,344,1690,4
42,Rick_Barry,25279,4952,6863,1104,269,3
43,Elgin_Baylor,23149,3650,11463,0,0,3
44,Carmelo_Anthony,26314,3244,7251,1121,550,3
45,Walt_Bellamy,20941,2544,14241,52,48,5
46,Nate_Thurmond,14437,2575,14464,125,553,5
47,Ray_Allen,24505,4361,5272,1451,244,2

<h4> Playoffs </h4>

In [7]:
def createPlayoffsPlayer():
    element = {'Player':name,'Points':po_points,'Assists':po_assists,'Rebounds':po_rebounds,'Steals':po_steals,'Blocks':po_blocks, 'Primary Position':primary_position}
    return playoffs.append(element, ignore_index=True)

<h4> Test: playoffs </h4>

In [8]:
playoffs = createPlayoffsPlayer()
playoffs.to_csv('Data_playoffs.csv',index=False)
playoffs

,Player,Points,Assists,Rebounds,Steals,Blocks,Primary Position
0,LeBron,7491,1871,2348,445,250,3
1,MJ,5987,1022,1152,376,158,2
2,Kareem,5762,767,2481,189,476,5
3,Kobe,5640,1040,1119,310,144,2
4,Karl_Malone,4761,610,2062,258,135,4
5,Wilt,3607,673,3913,0,0,5
6,Shaq,5250,582,2508,117,459,5
7,Duncan,5172,764,2859,168,568,4
8,Dirk,3663,360,1446,149,129,4
9,Hakeem,3755,458,1621,245,245,5
10,Garnett,2601,471,1534,178,186,4
11,Magic,3701,2346,1465,358,64,1
12,Stockton,2436,1839,608,338,50,1
13,Robertson,1910,769,578,15,4,1
14,Steve_Nash,2072,1061,422,66,14,1
15,Jason_Kidd,2043,1263,1058,302,52,1
16,Bill Russell,2673,770,4104,0,0,5
17,Elvin_Hayes,2194,185,1244,97,222,5
18,Moses_Malone,2077,136,1295,84,151,4
19,Robert_Parish,2820,234,1765,145,309,5
20,Charles_Barkley,2833,482,1582,193,108,4
21,Dwight_Howard,1749,132,1315,84,234,5
22,CP3,2133,865,519,222,18,1
23,Paul_Pierce,3180,579,985,204,105,3
24,Allen_Iverson,2111,425,273,147,14,1
25,Patrick_Ewing,2813,275,1435,122,303,5
26,Dominique_Wikins,1423,143,375,73,35,3
27,Jerry_West,4457,970,855,0,0,1
28,Anthony_Davis,979,96,369,49,63,4
29,Kawhi_Leonard,2531,335,975,217,83,3
30,Russell_Westbrook,2489,778,686,184,28,1
31,Steph_Curry,2968,704,604,181,30,1
32,Julius_Erving,4580,841,1611,287,293,3
33,Kevin_Durant,4043,557,1071,139,163,3
34,Larry_Bird,3897,1062,1683,296,145,3
35,David_Robinson,2221,280,1301,151,312,5
36,Dwyane_Wade,3954,870,928,273,175,2
37,Artis_Gilmore,1768,232,1267,60,168,5
38,John_Havlicek,3776,825,1186,60,16,3
39,Tony_Parker,4045,1143,666,198,19,1
40,Wes_Unseld,1260,453,1777,67,55,5
41,Kevin_McHale,3182,274,1253,65,281,4
42,Rick_Barry,2870,456,675,106,39,3
43,Elgin_Baylor,3623,541,1724,0,0,3
44,Carmelo_Anthony,1764,185,513,93,26,3
45,Walt_Bellamy,850,136,680,0,0,5
46,Nate_Thurmond,966,227,1101,11,51,5
47,Ray_Allen,2749,449,648,164,41,2