<h1> <center> How to use ?  </center> <h1>

Run all the cells, then fill the regular season & the playoffs input fields.

<h1> Enter a new player </h1>

<h3> Insert a player name </h3>

In [1]:
name = str(input("Player's name: "))

Player's name: Kevin_Durant

<h3> Regular season </h3>

In [2]:
print("\nRegular season: ")
rs_points = int(input("\tPoints: "))
rs_assists = int(input("\tAssists: "))
rs_rebounds = int(input("\tRebounds: "))
rs_steals = int(input("\tSteals: "))
rs_blocks = int(input("\tBlocks: "))

Regular season:
	Points: 22940
	Assists: 3486
	Rebounds: 5992
	Steals: 948
	Blocks: 941

<h3> Playoffs </h3>

In [9]:
print("\nPlayoffs: ")
po_points = int(input("\tPoints: "))
po_assists = int(input("\tAssists: "))
po_rebounds = int(input("\tRebounds: "))
po_steals = int(input("\tSteals: "))
po_blocks = int(input("\tBlocks: "))

Playoffs:
	Points: 4043
	Assists: 557
	Rebounds: 1071
	Steals: 139
	Blocks: 163

<h1> New player: </h1>

<h3> Libraries and files </h3>

In [6]:
import pandas as pd
import numpy as np
regular_season = pd.read_csv('Data_regular_season.csv')
playoffs = pd.read_csv('Data_playoffs.csv')
regular_season

             Player  Points  Assists  Rebounds  Steals  Blocks
0            LeBron   34087     9298      9353    2011     951
1                MJ   32292     5633      6672    1944     893
2            Kareem   38387     5660     17440    1160    3189
3              Kobe   33643     6306      7047    1944     640
4       Karl_Malone   36928     5248     14968    2085    1145
5              Wilt   31419     4643     23924       0       0
6              Shaq   28596     3026     13099     739    2732
7            Duncan   26496     4225     15091    1025    3020
8              Dirk   31560     3651     11489    1210    1281
9            Hakeem   26946     3058     13748    2162    3820
10          Garnett   26071     5445     14662    1859    2037
11            Magic   17707    10141      6559    1724     374
12         Stockton   19711    15806      4051    3265     315
13        Robertson   26710     9887      7804      77       4
14       Steve_Nash   17387    10335      3642     899     102
15       Jason_Kidd   17529    12091      8725    2684     450
16     Bill Russell   14522     4100     21620       0       0
17      Elvin_Hayes   27313     2398     16279    1771     864
18     Moses_Malone   27409     1796     16212    1089    1733
19    Robert_Parish   23334     2180     14715    1219    2361
20  Charles_Barkley   23757     4215     12546    1648     888
21    Dwight_Howard   18582     1577     13641    1013    2127
22              CP3   18711     9607      4572    2220     131
23      Paul_Pierce   26397     4708      7527    1752     745
24    Allen_Iverson   24368     5624      3394    1983     164
25    Patrick_Ewing   24815     2215     11607    1136    2894
26      Steph_Curry   16419     4621      3158    1205     156

<h3> Function </h3>

<h4> Regular season </h4>

In [7]:
def createRSPlayer():
    element = {'Player':name,'Points':rs_points, 'Assists':rs_assists, 'Rebounds':rs_rebounds, 'Steals':rs_steals, 'Blocks':rs_blocks}
    player = pd.Series(data=element, name=str(regular_season.index[-1]+1))
    return regular_season.append(player,ignore_index=False)

<h4> Test: regular season </h4>

In [8]:
regular_season = createRSPlayer()
regular_season.to_csv('Data_regular_season.csv')
regular_season

             Player  Points  Assists  Rebounds  Steals  Blocks
0            LeBron   34087     9298      9353    2011     951
1                MJ   32292     5633      6672    1944     893
2            Kareem   38387     5660     17440    1160    3189
3              Kobe   33643     6306      7047    1944     640
4       Karl_Malone   36928     5248     14968    2085    1145
5              Wilt   31419     4643     23924       0       0
6              Shaq   28596     3026     13099     739    2732
7            Duncan   26496     4225     15091    1025    3020
8              Dirk   31560     3651     11489    1210    1281
9            Hakeem   26946     3058     13748    2162    3820
10          Garnett   26071     5445     14662    1859    2037
11            Magic   17707    10141      6559    1724     374
12         Stockton   19711    15806      4051    3265     315
13        Robertson   26710     9887      7804      77       4
14       Steve_Nash   17387    10335      3642     899     102
15       Jason_Kidd   17529    12091      8725    2684     450
16     Bill Russell   14522     4100     21620       0       0
17      Elvin_Hayes   27313     2398     16279    1771     864
18     Moses_Malone   27409     1796     16212    1089    1733
19    Robert_Parish   23334     2180     14715    1219    2361
20  Charles_Barkley   23757     4215     12546    1648     888
21    Dwight_Howard   18582     1577     13641    1013    2127
22              CP3   18711     9607      4572    2220     131
23      Paul_Pierce   26397     4708      7527    1752     745
24    Allen_Iverson   24368     5624      3394    1983     164
25    Patrick_Ewing   24815     2215     11607    1136    2894
26      Steph_Curry   16419     4621      3158    1205     156
27     Kevin_Durant   22940     3486      5992     948     941

<h4> Playoffs </h4>

In [10]:
def createPlayoffsPlayer():
    element = {'Player':name,'Points':po_points,'Assists':po_assists,'Rebounds':po_rebounds,'Steals':po_steals,'Blocks':po_blocks}
    player = pd.Series(data=element,name=str(playoffs.index[-1]+1))
    return playoffs.append(player, ignore_index=False)

<h4> Test: playoffs </h4>

In [11]:
playoffs = createPlayoffsPlayer()
playoffs.to_csv('Data_playoffs.csv')
playoffs

             Player  Points  Assists  Rebounds  Steals  Blocks
0            LeBron    6911     1687      2122     419     232
1                MJ    5987     1022      1152     376     158
2            Kareem    5762      767      2481     189     476
3              Kobe    5640     1040      1119     310     144
4       Karl_Malone    4761      610      2062     258     135
5              Wilt    3607      673      3913       0       0
6              Shaq    5250      582      2508     117     459
7            Duncan    5172      764      2859     168     568
8              Dirk    3663      360      1446     149     129
9            Hakeem    3755      458      1621     245     245
10          Garnett    2601      471      1534     178     186
11            Magic    3701     2346      1465     358      64
12         Stockton    2436     1839       608     338      50
13        Robertson    1910      769       578      15       4
14       Steve_Nash    2072     1061       422      66      14
15       Jason_Kidd    2043     1263      1058     302      52
16     Bill Russell    2673      770      4104       0       0
17      Elvin_Hayes    2194      185      1244      97     222
18     Moses_Malone    2077      136      1295      84     151
19    Robert_Parish    2820      234      1765     145     309
20  Charles_Barkley    2833      482      1582     193     108
21    Dwight_Howard    1749      132      1315      84     234
22              CP3    2133      865       519     222      18
23      Paul_Pierce    3180      579       985     204     105
24    Allen_Iverson    2111      425       273     147      14
25    Patrick_Ewing    2813      275      1435     122     303
26      Steph_Curry    2968      704       604     181      30
27     Kevin_Durant    4043      557      1071     139     163